.card {
    background-color: #fff;
    padding: 15px;
    border: none;
    height: 250px;
    margin-top: 10px
}

.u-color {
    color: blue
}

.user-image img {
    border: 3px solid #00f;
    padding: 2px
}

.name-bold {
    font-weight: bold;
}