.card {
    background-color: #fff;
    padding: 15px;
    border: none;
    height: 250px;
    margin-top: 10px
}

.u-color {
    font-size: 25px;
    color: #5c6874;
    padding: 2px;
}

.user-image img {
    border: 3px solid #5c6874;
    
    padding: 2px
}

.name-bold {
    font-weight: bold;
    color: #5c6874;
}